body{
    background-color: #dae4ee;
}

.home{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),
    url('../imgs/background.jpg');
    background-size: cover;
}

.intro{
    color: white;
    padding: 10% 20% 10% 20%;
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}

.name{
    font-size: 50px;
    font-weight: 500;
}